*,
*::after,
*::before {
  box-sizing: border-box;;
}

:root {
  font-size: $root-fz;
}

body {
  font-family: $main-font;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: $color-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  @media (max-width: $desktop-s) {
    font-size: .95rem;
  }
  @media (max-width: $mobile-m) {
    font-size: .8rem;
  }
}

a {
  color: currentColor;
  text-decoration: none;

  &:active {
    outline: none;
  }

  &:focus {
    outline-color: $color-coral;
  }
}

input, textarea {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  overflow: auto
}

button {
  cursor: pointer;
}
