@font-face {
  font-family: "Trueno";
  src:
          url("../../fonts/TruenoLt.woff2") format("woff2"),
          url("../../fonts/TruenoLt.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Trueno";
  src:
          url("../../fonts/TruenoBd.woff2") format("woff2"),
          url("../../fonts/TruenoBd.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Trueno";
  src:
          url("../../fonts/TruenoUltBlk.woff2") format("woff2"),
          url("../../fonts/TruenoUltBlk.woff") format("woff");
  font-weight: 800;
}